@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

body{
    background-color: rgba(232,233, 239, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  font-style: normal;
}
/* Lobby Styles */

#logo {
    display: block;
    width: 100px;
    margin: 0 auto;

}

#form-container{
    width: 400px;
    box-shadow: var(--shadow);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#welcome-message{
    text-align: center;
    margin-bottom: 20px;
    
}

#welcome-message h1{
    font-size: 36px;
}

#welcome-message p{
    font-size: 16px;
}

.form-field{
    margin: 20px;
}
.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}
.form-field input{
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.form-field input[type='submit']{
    background-color: rgba(75, 93, 172, 1);
    border: none;
    color: white;
}

@media screen and (max-width: 450px) {
    #form-container{
        width: 95%;
    }
    #welcome-message h1{
        font-size: 24px;
    }
}

/* Room Styles */

#room-name-wrapper{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.video-player-custom{ 
    height: 100%;
    width: 100%;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75,93,172,1);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
    position: relative;
}

.video-player>*{
border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;

}

@media screen and (max-width: 1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;   
    }
}

/* Room Controls */
#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: absolute;
    bottom: -20px;

}

.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#leave-btn{
    background-color: rgb(255,80,80,1);
}

section#video-wrapper{
    min-width: 560px;
    flex-grow: 1;
    position: relative;
}

/* ------------Chat Styling------------------- */

@import "compass/css3";



ul,li{list-style-type:none;}
ul{margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}

.chat-container{margin-top:50px;padding-left: 0px;margin-left: 0px;}


.chat-container ul
{width:100%;height:500px;overflow-x:hidden;overflow-y:scroll;

}

#chat-wrapper{
    flex-grow:1;
    
}

.chat-container ul li{margin-bottom:20px;background-color:rgba(255,255,255,0.65);position:relative;font:1em/1.6 "arial";clear:both; padding: 5px;}

.chat-container ul li:nth-child(odd){float:left;}
.chat-container ul li:nth-child(even){float:right;color: rgba(75,93,172,1);background-color:rgba(255,255,255,0.3);}
.chat-container ul li:before{width:45px;height:45px;top:0;border-radius:50%;background-position:50% 50%;background-repeat:no-repeat;}
.chat-container ul li:after{width:0;height:0;top:15px;border-top:15px solid rgba(255,255,255,0.65);
   
}
.chat-container ul li:nth-child(odd):after{left:-15px;border-left:15px solid transparent;}
.chat-container ul li:nth-child(even):after{right:-15px;border-top-color:rgba(255,255,255,0.3);border-right:15px solid transparent;}

#record-btn{
    background-color: rgb(255,80,80,1);
}

section#screen{
    display: flex;
    flex-wrap: wrap;
}

#transcription-text{
    width: 70%;
}

.send-message-container{
    text-align: center;
}