{% extends 'base/main.html'%} {%load static%} {% block content %}
<main>
  <input id="APP_ID" value="{{ APP_ID }}" type="hidden" />
  <section id="screen">
  <section id="video-wrapper" style="width: 100%;">
  <section id="room-name-wrapper">
    <p>Room Name: <span id="room-name"></span></p>
  </section>

  <section id="video-streams">
    
  </section>
  <section id="controls-wrapper">
    <div class="icon-wrapper">
      <img src="{%static 'images/microphone.svg'%}" id="mic-btn" class="control-icon" alt="">
    </div>
    <div class="icon-wrapper">
      <img src="{%static 'images/video.svg'%}" id="camera-btn" class="control-icon" alt="">
    </div>
    <div class="icon-wrapper">
      <img src="{%static 'images/leave.svg'%}" id="leave-btn" class="control-icon" alt="">
    </div>
    <div class="icon-wrapper">
      <img class="control-icon" id='chat-btn' src="{% static 'images/ai-chat-icon.png' %}" style="background-color: rgb(255,80,80,1);">
    </div>
  </section>
</section>
  <section id="chat-wrapper" style="display: none;">
    <div class="chat-container">
      <ul id = 'chat-box'>
        <li>I am your personal assistant, ask me anything.</li>
      </ul>
    </div>
    <div class="send-message-container">
      <div id="transcription-container">
          <div id="transcription-text-wrapper">
              <textarea id="transcription-text" placeholder="Transcription will appear here" readonly></textarea>
              <div id="displayText"></div>
              <img class="control-icon" id="record-btn" src=" {% static "images/speak.png" %} ">
              <img class="control-icon" id='send-btn' src= "{% static "images/send.png" %}">
          </div>
      </div>
    </div> <!-- end chat-message -->
  </section>
</section>
</main>
<script
  type="text/javascript"
  src="{% static 'assets/AgoraRTC_N-4.20.2.js'%}"
></script>
<script type="text/javascript" src="{%static 'js/streams.js'%}"></script>

{%endblock content%}
